body {
    font-family: "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif !important;
}

.card {
    border: none !important;
}

.navbar-expand-md {
    padding: 0 !important;
}

.navbar {
    background-color: aqua;
}

.navbar-nav {
    font-size: 25px;
    justify-content:space-between;
    --bs-navbar-color: white !important;
}

.nav-link {
    display: inline-block !important;
}

.nav-link.left-link {
    background-color: grey;
    border-radius: 10px;
    padding: 5px 20px !important;
    margin-left: 20px;
}

.nav-link.right-link {
    font-size: 40px;
    --bs-navbar-color: white !important;
    margin-top: 10px;
}

.mb-3 {
    margin-top: 100px !important;
}
.card-body {
    margin: auto !important;
    font-size:30px;
    color:gray !important;
}

.login-info {
    max-width: 600px;
    padding-right: 65% !important;
    border: 1px solid gray;
}

.info-row {
    display: grid;
    grid-template-columns: 220px 2ch 220px; /* ラベル / コロン / 値 */
    align-items: baseline; /* 文字の下線基準で揃える */
    margin-bottom: 10px;
}

.label {
    font-weight: bold;         
}

.colon {
    text-align: left;
    padding: 5px 6px;
}

.value {
    text-align: left;
}
